@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #292929;
  --primary-color: #808080; 
  --primary-color-rgba: rgba(128, 128, 128, .5);
  --secondary-color: #FFFFFF; 
  --background-start: #808080; 
  --background-end: #292929;
  --accent-color: #292929; 
  --accent2-color: #dfdfdf; 
  --text-primary: #FFFFFF; 
  --text-secondary: #808080;
  --hero-button: #b3b3b3; 
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Additional Utility Classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-hero {
    background-image: linear-gradient(to right, var(--background-start), var(--background-end));
  }

  .hero-text {
    color: var(--text-primary);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .hero-button {
    color: var(--text-primary);
    background-color: var(--hero-button);
    transition: background-color 0.3s ease;
  }

  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-primary-opacity {
    background-color: var(--primary-color-rgba);
  }

  .bg-secondary {
    background-color: var(--secondary-color);
  }

  .bg-accent {
    background-color: var(--accent-color);
  }

  .bg-accent2 {
    background-color: var(--accent2-color);
  }

  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .nav-border {
    border-bottom: 1px solid var(--accent-color);
  }

  .border {
    border: 1px solid var(--accent-color);
  }

  .border-gradient {
    border-top: 1px solid transparent;
    background: linear-gradient(to right, transparent, var(--accent2-color), transparent);
  }

  .hero-section {
    height: 50vh; /* Adjust the height as needed */
    padding: 2rem; /* Adjust the padding as needed */
  }

  .hero-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
